body {
  margin: 0;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: linear-gradient(to right, white, teal, black);
}

main {
  padding: 20px;
}

.team-list {
  padding: 15px;
  border: 2px solid black;
  text-align: center;
}

.wait-time {
  padding: 15px;
  background: green;
  font-weight: bold;
  border: 2px solid black;
}

.register-team {
  margin-bottom: 1rem;
}

.register-team label:nth-child(odd) {
  margin-left: 0.5rem;
}

.join-queue {
  margin-left: 0.75rem;
  color: white;
  background-color: black;
  padding: 0.5rem;
}

.game-over-btn {
  background-color: black;
  color: white;
  display: block;
  margin: 1rem auto 0;
  padding: 1rem 2rem;
}
